<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Zephyrus</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SessionTimeOutFilter</filter-name>
    <filter-class>com.zephyrus.wind.filters.SessionTimeOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <servlet-name>controller</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>com.zephyrus.wind.MainServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/order</url-pattern>
    <url-pattern>/home</url-pattern>
    <url-pattern>/admin</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/mapping</url-pattern>

    <url-pattern>/createaccount</url-pattern>
    <url-pattern>/blocking</url-pattern>
   <url-pattern>/reassign</url-pattern>
    <url-pattern>/createnewpass</url-pattern>
    <url-pattern>/review</url-pattern>
    <url-pattern>/customersupport</url-pattern>  

    <url-pattern>/generateReport</url-pattern>

  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>JDBCRealm</realm-name>
    <form-login-config>
      <form-login-page>/view/login.jsp</form-login-page>
      <form-error-page>/view/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
 <security-constraint>
    <web-resource-collection>
      <web-resource-name>Administrator</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/admin</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
 <!--    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint> -->
  </security-constraint> 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SupportEngineer</web-resource-name>
      <url-pattern>/support</url-pattern>
      <url-pattern>/support/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>

<!--     <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPPORT</role-name> 
    </auth-constraint>  -->
  </security-constraint>  




  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ProvisionEngineer</web-resource-name>
      <url-pattern>/provision</url-pattern>
      <url-pattern>/provision/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>PROVISION</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>InstallationEngineer</web-resource-name>
      <url-pattern>/installation</url-pattern>
      <url-pattern>/installation/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>INSTALLATION</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Customer</web-resource-name>
      <url-pattern>/customer</url-pattern>
      <url-pattern>/customer/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>CUSTOMER</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Login</web-resource-name>
      <url-pattern>/login</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
      <role-name>SUPPORT</role-name>
      <role-name>PROVISION</role-name>
      <role-name>INSTALLATION</role-name>
      <role-name>CUSTOMER</role-name>
    </auth-constraint>
    </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>General</web-resource-name>
      <url-pattern>/view</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Administrator</description>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <description>SupportEngineer</description>
    <role-name>SUPPORT</role-name>
  </security-role>
  <security-role>
    <description>ProvisionEngineer</description>
    <role-name>PROVISION</role-name>
  </security-role>
  <security-role>
    <description>InstallationEngineer</description>
    <role-name>INSTALLATION</role-name>
  </security-role>
  <security-role>
    <description>Customer</description>
    <role-name>CUSTOMER</role-name>
  </security-role>
  <resource-ref>
    <res-ref-name>jdbc/zephyrus</res-ref-name>
    <res-type>javax.sql.ConnectionPoolDataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
