body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	background: #ffffff url(../images/templatemo_main_bg.jpg) repeat-x;
}

a:link, a:visited { color: #FFFF66; text-decoration: none; font-weight: bold; } 
a:active, a:hover { color: #99FF00; text-decoration: underline; } 

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

#templatemo_container {
	width: 1000px;
	margin: 0 auto;
}

#templatemo_footer a{
	color: #000;
	font-weight: normal;
}