body {
	background-color: #E0E0E0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

input {
	border: 1px solid gray;
}

.container {
	height: auto;
	width: 1000px;
	margin: 0 auto;	
	border-radius: 15px;
}

.header {
	float: left;
	height: 220px;
	width: 1000px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px; 
	background-color: black; 
}

#logo {
	float: left;
	height: 80%;
	width: 1000px;
	background: #508eeb;
	padding-bottom:20px;
}

#columns {
    display: table;
    min-height: 360px;
    width: 1000px;;
    -moz-box-sizing: border-box;      
    -webkit-box-sizing: border-box;   
    box-sizing: border-box;           
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}

#columns > div,
#columns > noindex > div {
    display: table-cell;
    vertical-align: top;
    min-height: 360px;
    width: auto;
    position: relative;
    -moz-box-sizing: border-box;      
    -webkit-box-sizing: border-box;   
    box-sizing: border-box;           
    background-color: white;
    
}

#columns > #navigation,
#columns > noindex > #navigation {
	min-height: 360px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    background-color: white;
    color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

#columns > #main,
#columns > noindex > #main {
	min-height: 360px;
    max-width: 800px;
    min-width: 800px;
    width: 800px;
    background-color: white;
    padding: 20px 50px 20px 50px;
}

.footer {
	float: left;
	height: 40px;
	width: 970px;
	color: white;
	padding-left: 30px;
	font-size: 12px;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #508eeb;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 10px;
}

.button {
	height: 30px;
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #508eeb;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.button:hover {
	background-color: #3a75c4;
}

.split {
	color: #66FFFF;
}

.userbutton {
	height: 30px;
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

.navibutton {
	height: 30px;
	width: 200px;
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	color: black;
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.meganavibutton {
	height: 60px;
	width: 200px;
	font-size: 17pt;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #508eeb;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button[disabled] {
 height: 30px;
 font-size: 14pt;
 font-family: 'Open Sans', sans-serif;
 color: white;
 background-color: #abcdef;
 border: none;
 border-radius: 3px;
 cursor: none;
}

#user_name {
	float:right;
	color: white;
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	margin-right:10px;
	margin-top:10px;
}
#login_link {
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
}

#logout_link {
	float:right;
	margin-right:10px;
	margin-top:5px;
}

#register_link{
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
}

#map-canvas {
	width:700px;
	height:380px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:10px;
	margin-top:10px;
}

#location {
	margin-left:50px;
	float:left;
}

#services {
	margin-top:10px;
	margin-bottom:5px;
}

#loginBox {
	text-align:center;
	margin:10px;	
}

#registerBox {
	text-align:center;
	margin:10px;	
}

#main_link {
	margin-left:50px;
	margin-top:50px;
}

#home_link {
	float:right;
	margin-left:10px;
	margin-top:5px;
}

#chooseReportBox {
	margin:20px;
}
