body {
	background-color: #3a75c4;
}
.container {
	height: 660px;
	width: 1015px;
	margin: 0 auto;		
}
.header {
	float: left;
	height: 100px;
	width: 1000px;
	background: #ffffff;
	margin: 5px;
	border-radius: 5px;
}
.navigation {
	float: left;
	height: 550px;
	width: 190px;
	background: #ffffff;
	border-radius: 5px;
	margin: 5px;
}

.main {
	float: left;
	height: 550px;
	width: 800px;
	overflow:auto;
	background: #ffffff;
	border-radius: 5px;	
	margin: 5px;
}

.footer {
	float: left;
	height: 10px;
	width: 1000px;
	margin: 5px;
}

.button {
	height: 30px;
	width: 150px;
	font-size: 14pt;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #234c98;
	border-radius: 5px;
	background-color: #ffffff;
	border: 2px solid #3a75c4;
}

.navibutton {
	height: 50px;
	width: 190px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #234c98;
	font-size: 14pt;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 1px dotted #3a75c4;
	background-color: #ffffff;
	margin: 5px 0px 0px 0px;
}

#login_link {
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:70px;
}

#logout_link {
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:50px;
}

#register_link{
	float:right;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:70px;
}

#map-canvas {
	width:700px;
	height:380px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:10px;
	margin-top:10px;
}

#location {
	margin-left:50px;
	float:left;
}

#services {
	margin-top:10px;
	margin-bottom:5px;
}

#loginBox {
	text-align:center;
	margin:10px;	
}

#registerBox {
	text-align:center;
	margin:10px;	
}

#main_link {
	float:left;
	margin-left:10px;
	margin-top:70px;
}

#home_link {
	float:left;
	margin-left:10px;
	margin-top:70px;
}

#chooseReportBox {
	margin:20px;
}
